{{ define "main" }}
 <div class="jumbotron pulse-jumbotron jumbotron-fluid mb-0" style="background-image: url(/img/services-header@2x.jpg)">
    <div>
        <div class="container">
            <h1 class="text-white text-uppercase m-0">Services</h1>
        </div>
    </div>
</div>
<div class="container text-center pt-5 pb-5">
    <div class="mt-md-5 mb-md-5">
        <h2 class="text-primary mb-4">Bespoke services</h2>
        <div class="d-inline-block" style="max-width: 1100px;">
            <p class="mb-5">
                Pulse Cargo offers a variety of services tailor made to suit your needs. With an extensive network of agents worldwide we can provide you with rapid transit times alongside constant communication ensuring we provide you, our client, with the best possible service.
            </p>
            <a href="/contact" class="btn btn-primary pulse-button text-white text-uppercase">Get a Quote</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="air" class="col-md mb-6">
            <div class="pulse-service-box pulse-service-box-air">
                <div class="pulse-separator"></div>
                <div class="pulse-service-box-image d-none d-md-block"></div>
                <div class="pulse-service-box-content pt-4 pb-4 p-xl-4">
                    <h4 class="mb-2">Air Freight</h4>
                    <p>We are experts in dealing with both exports and imports. We have the ability to move your shipments to any worldwide destination whether it be small packages, standard pallets or out-size cargo. We can advise you on any relevant shipping documentation which may be required for certain destinations.</p>
                    <ul class="pl-2">
                        <li>Door to Door</li>
                        <li>Door to Airport</li>
                        <li>Consolidation</li>
                        <li>Dangerous Goods</li>
                        <li>Extensive Network of Agents Worldwide</li>
                        <li>Letters of Credit</li>
                        <li>Legalised Documents</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="sea" class="col-md mb-6">
            <div class="pulse-service-box pulse-service-box-sea">
                <div class="pulse-separator"></div>
                <div class="pulse-service-box-image d-none d-md-block"></div>
                <div class="pulse-service-box-content pt-4 pb-4 p-xl-4">
                    <h4 class="mb-2">Sea Freight</h4>
                    <p>We offer comprehensive sea freight services via a worldwide and independent network focused on FCL and LCL shipments, break bulk, project logistics and oversized transport.</p>
                    <ul class="pl-2">
                        <li>FCL</li>
                        <li>LCL</li>
                        <li>Customs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="road" class="col-md mb-6">
            <div class="pulse-service-box pulse-service-box-road">
                <div class="pulse-separator"></div>
                <div class="pulse-service-box-image d-none d-md-block"></div>
                <div class="pulse-service-box-content pt-4 pb-4 p-xl-4">
                    <h4 class="mb-2">Road Freight</h4>
                    <p>We offer a variety of road services both domestically and within Europe.</p>
                    <ul class="pl-2">
                        <li>Full / Part loads</li>
                        <li>Groupage</li>
                        <li>Dedicated Vehicles from small vans through to 40ft trailers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="courier" class="col-md mb-6">
            <div class="pulse-service-box pulse-service-box-courier">
                <div class="pulse-separator"></div>
                <div class="pulse-service-box-image d-none d-md-block"></div>
                <div class="pulse-service-box-content pt-4 pb-4 p-xl-4">
                    <h4 class="mb-2">Courier</h4>
                    <p>For that more urgent shipment, Pulse Cargo can offer flexible, reliable and fully monitored services worldwide.</p>
                    <ul class="pl-2">
                        <li>Imports / Exports / Crosstrade</li>
                        <li>Express</li>
                        <li>Economy</li>
                        <li>Domestic</li>
                        <li>AM / PM Collections and Deliveries</li>
                        <li>DDP</li>
                        <li>Fully track and traced</li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</div>
{{ end }}