{{ define "main" }}
 <div class="jumbotron pulse-jumbotron jumbotron-fluid mb-0" style="background-image: url(/img/about-header@2x.jpg)">
    <div>
        <div class="container">
            <h1 class="text-white text-uppercase m-0">Terms and Conditions</h1>
        </div>
    </div>
</div>
<div class="container pt-5 pb-5">

    <p>Pulse Cargo has provided this statement to explain the collection and use of information captured on our website. Please read this statement carefully as once you use our website you will be deemed to have read and accepted this statement.</p>
    
    <p class="font-weight-bold">1. Who we are</p>
    <p>Pulse Cargo&nbsp;are a international freight forwarder.</p>
    
    <p>Pulse Cargo.</p>
    <p>Registered in England and Wales (Company no. 09481378)</p>
    
    <p>Registered office:</p>
    <p>The Stable Offices, Burntwood, Martyr Worthy, Hampshire, SO21 1AD</p>
    
    <p class="font-weight-bold">2. Copyright and Trade Marks</p>
    <p>All the content of this website (https://www.pulsecargo.co.uk), unless explicitly stated otherwise, is Copyright &copy; 2016 Pulse Cargo. All rights reserved.</p>
    
    <p>Product and company names mentioned on this website may be trademarks and/or service marks of their respective owners. All trademarks and/or service marks are acknowledged.</p>
    
    <p>Unless specifically prohibited by a notice published on any page of this website, you may print a copy of the pages for your own personal, non-commercial use, provided that any copy has attached to it the relevant proprietary notices and disclaimers.</p>
    
    <p>Except as per above, you agree not to download, copy, reproduce, modify, store, archive, show in public, redistribute, or commercially exploit in any way any part of the content without prior written permission. You agree not to use any material from this site for any illegal or improper purpose.</p>
    
    <p class="font-weight-bold">3. Disclaimer</p>
    <p>While&nbsp;Pulse Cargo&nbsp;has taken all reasonable effort to ensure that the information contained within the website is correct, you should be aware that the information may be incomplete, inaccurate or may have become out of date. Pulse Cargo cannot guarantee the completeness or accuracy of information contained on the website and shall not be responsible for errors or inaccuracies.</p>
    
    <p>Pulse Cargo&nbsp;reserves the right to make changes to or take down the website or remove or alter any content at any time and without notice. Under no circumstances shall&nbsp;Pulse Cargo&nbsp;be liable for any reliance by you on any information which is made available on the website. Further, Pulse Cargo does not in any way guarantee that the website will be available, uninterrupted or error free. If, however, you do spot an error please contact us in order that it may be rectified as soon as possible.</p>
    
    <p>The website has been designed and built in line with modern Internet technologies (PHP and CSS) to adhere to the W3C Accessibility Standards, and to be accessible to as many browsers as possible.&nbsp;Pulse Cargo&nbsp;recommends the use of the latest version of browsers for your security and for optimal use of this website. Testing has taken place in Chrome, Microsoft Internet Explorer, Firefox, Safari and Opera.</p>
    
    <p class="font-weight-bold">4. Links to third party information</p>
    <p>This website may contain material produced by third parties and links to other websites. Pulse Cargo provides such links for your convenience only and the inclusion of such links is not intended to signify that Pulse Cargo endorses such websites and/or their content.</p>
    
    <p>Further,&nbsp;Pulse&nbsp;Cargo&nbsp;assumes no responsibility for the contents of any such websites to which this website has links, and takes no responsibility for any loss or damage suffered as a result of using the information published on any of the pages of websites to which this website has links.</p>
    
    <p class="font-weight-bold">5. Residence</p>
    <p>The pages of this website are prepared and issued in the United Kingdom and are intended for the information and use of United Kingdom residents only. English Law governs this Statement and your use of this site.</p>
    
    <p class="font-weight-bold">6. Cookies</p>
    <p>A cookie is a small text file which helps your web browser navigate through a particular website. The cookie can then be read back later by the web browser as required. The use of cookies is a convenient way of allowing a computer to remember specific information relating to a website which has been visited. A cookie does not identify the individual only the computer used, it does not gives us access to your computer. For further information about cookies including a detailed definition, please consult All About Cookies.</p>
    
    <p>You can manage cookies from this site, including blocking or deleting them, by changing the settings in your web browser. However, please note that deleting cookies may result in parts of this site and its online services not working as expected.</p>
    
    <p>In common with many organisations Pulse Cargo uses 'Google Analytics' a web analytics service provided by Google Inc to enable us to analyse how our website is used. This means that information about use of our website may be transmitted to Google Inc. This information does not enable you to be identified and is not considered privacy intrusive. For further information, please see Google&rsquo;s statement on Analytics and cookies. Users of the most popular web browsers can install a browser add-on which prevents information being transferred to Google, see:<object width="300" height="0" data-mce-fragment="1"><a href="http://tools.google.com/dlpage/gaoptout." target="_blank"><span> </span>http://tools.google.com/dlpage/gaoptout.</a></object></p>
    
    <p class="font-weight-bold">7. Your IP Address</p>
    <p>In common with most websites we automatically log certain information about every visit to the site. This includes your IP address and information relating to your requests from our servers, for example date and time, referrer, user agent (browser), request type and details of request size. This information is anonymous. The information is used to help us manage the website (e.g. detecting bugs).</p>
    
    <p class="font-weight-bold">8. What information we collect and how</p>
    <p>No information in addition to cookies and IP addresses (see above) is automatically collected by this website. Pulse Cargo collects and stores information you voluntarily submit via the contact us page, including, but not limited to items such as your name, company, address, e-mail and messages.</p>
    
    <p>When you give us information on behalf of another person, you confirm by doing so that they have given you permission to provide us with the information and that you have told them who we are and what we will use their data for.</p>
    
    <p class="font-weight-bold">9. Security</p>
    <p>You are responsible for the security of your own computer upon which you access this website, and should ensure that you log-out when you have finished viewing the website.</p>
    
    <p>Pulse Cargo&nbsp;recommends the use of the latest version of browsers for your security and for optimal use of this website. The most popular browsers are: Chrome, Microsoft Internet Explorer, Firefox, Safari and Opera, although others are available.</p>
    
    <p>There is no guarantee that any e-mail you send will be received by us. There is no guarantee that the confidentiality of e-mails sent to us will be maintained during transmission. Any information sent by e-mail is done so at your own risk and you should therefore carefully consider its sensitivity before transmitting it. If you have any doubts, you may wish to write to or telephone us instead.</p>
    
    <p class="font-weight-bold">10. Your rights​​</p>
    <p>At any time you can ask us to update or remove your personal information, by e-mail or by writing to Pulse Cargo at:</p>
    
    <p><a href="mailto:sales@cargo-net.co.uk" target="_self">getintouch@pulsecargo.co.uk</a></p>
    
    <p>
        Pulse Cargo Limited<br/>
        The Stable Offices<br/>
        Burntwood<br/>
        Martyr Worthy<br/>
        Hampshire<br/>
        SO21 1AD
    </p>
    
    <p>You also have the right to request a copy of all the personal information we hold about you.</p>
    
    <p>There may be a small charge for this.</p>
    
    <p>We will take all reasonable steps to confirm your identity before providing you with details of any personal information we may hold about you.</p>
    
    <p class="font-weight-bold">11. Information security</p>
    <p>You should be aware that communications over the internet, such as e-mails, are not secure unless they have been encrypted. Your communications may route through a number of countries before being delivered - this is the nature of the internet. We cannot accept responsibility for any unauthorised access or loss of personal information that is beyond our control.</p>

    <p class="font-weight-bold">Download our terms and conditions</p>
    <p><a href="/docs/Pulse Cargo Standard Trading Conditions 2021.pdf" target="_blank">Pulse Cargo Standard Trading Conditions 2021.pdf</a></p>
</div>
{{ end }}