<div class="pulse-separator pulse-separator-mt"></div>
<div class="footer bg-dark">
  <div class="container">
      <div class="row pt-5">
          <div class="col-md-4 mb-5 text-white">
              <div class="mb-2">&copy; {{ now.Format "2006"}} Pulse Cargo Limited. All rights reserved.</div>
              <a href="/terms-and-conditions" class="text-white d-block">Terms &amp; Conditions</a>
              <a href="/docs/pulse-cargo-standard-trading-conditions-2023.pdf" target="_blank" class="text-white">Download our terms and conditions</a>
          </div>
          <div class="col-md-4 mb-5 text-white">
            <div class="footer-address mb-3">
                <div class="font-weight-bold">Pulse Cargo Limited</div>
                <span>The Stable Offices, Burntwood, Martyr Worthy, <span style="white-space: nowrap;">Winchester SO21 1AD</span></span>
            </div>
            <div class="footer-tel mb-3">
                <a href="tel:443303905770" class="text-decoration-none text-white">+44(0)330 390 5770</a>
            </div>
            <div class="footer-email">
                <a href="mailto:getintouch@pulsecargo.co.uk" class="text-decoration-none text-white">getintouch@pulsecargo.co.uk</a>
            </div>
          </div>
          <div class="col-md-4 mb-5 footer-social text-white">
              <div class="mb-2">Connect with us</div>
              <a href="https://www.facebook.com/pulsecargo" target="_blank" class="footer-fb d-inline-block"></a>
              <a href="https://twitter.com/pulsecargo" target="_blank" class="footer-twitter d-inline-block ml-4"></a>
              <a href="https://www.instagram.com/pulsecargo" target="_blank" class="footer-insta d-inline-block ml-4"></a>
          </div>
      </div>
  </div>
</div>
