<div class="bg-primary pulse-testimonials">
    <div>
        <div class="container text-center">
            <div id="testimonials" class="carousel slide" data-ride="carousel" data-interval="15000">
                <ol class="carousel-indicators">
                    <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials" data-slide-to="1"></li>
                    <li data-target="#testimonials" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item text-white active">
                        "Reassuringly reliable, personable, and consistently competitive, are attributes they don't boast about but that is what they are. Even our client wrote to me thanking Pulse Cargo for their exemplary service in completing a major power project in Angola."
                        <br />
                        <span class="d-block mt-2">~ Mike Brown</span>
                    </div>
                    <div class="carousel-item text-white">
                        "Pulse have been our regular provider on road transport for importing from Europe for quite a few years now - both large and smaller pallet deliveries. More recently we've been depending on Tom's team for smaller deliveries around UK/Europe too. The Service has always been reliable and the Pulse team have proved to be fast and responsive to what we need. They have taken the time to understand what we need, and it's proved to be a personalised service that's taken care of details. I'm very happy to recommend Tom and the team at Pulse."
                        <br />
                        <span class="d-block mt-2">~ MSL Professional</span>
                    </div>
                    <div class="carousel-item text-white">
                        "I knew Tom from my time as a freight forwarder and he was just starting up Pulse Cargo when I was starting my new role as Shipping Manager for Corrotherm International. Given that I was aware of Tom's backround and wealth of experience in the industry, from airline sales rep to freight forwarder and then to starting up his own company, it was an easy decision to approach him with the opportunity of quoting on our business too. Our faith was justified and we have been rewarded with competitive rates, excellent service and a very honest approach to customer service which has been a boon to both our import and export operations. I would highly recommend Pulse Cargo as a company that truly works around the clock and will work to your needs rather than treat you as another number in the figures for the month."
                        <br />
                        <span class="d-block mt-2">~ Corrotherm International</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-primary pulse-testimonials pulse-testimonials-small">
    <div>
        <div class="container text-center">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item text-white active">
                        "Reassuringly reliable, personable, and consistently competitive, are attributes they don't boast about but that is what they are. Even our client wrote to me thanking Pulse Cargo for their exemplary service in completing a major power project in Angola."
                        <br />
                        <span class="d-block mt-2">~ Mike Brown</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>